<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/modularization-4-service-module/src/com/api/packagematching/PatternMatchingRunner.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.api.packagematching.PatternMatchingRunner"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="com.service.provider"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="modularization-4-service-module"/>
</launchConfiguration>
